# This file defines the code owners of the repository
# More information: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Entire repository
* @TzerNanLinStudio

# Application code
/app/ @TzerNanLinStudio

# Test code
/test/ @TzerNanLinStudio